.nav__list {


    text-align: center;

     
}


.nav__link {


    color: red;


    text-decoration: none;


    font-size: 17px;


    padding: 40px;


    font-family: Arial, Helvetica, sans-serif  ;  


    letter-spacing: 2px;


    font-weight: bold;


}


.nav__list-item {

    
    display: inline-block;


}

.main__title {

    
    text-align: center;
    
    
    font-family: Arial, Helvetica, sans-serif ;


    letter-spacing: 3px;


    margin-top:  50px;


    color: rgb(49, 48, 48);


}



.main__image {


    width: 100%;


}

.main__discription {

    
    text-align: center;

    
    padding: 30px;


    letter-spacing: 1px;


    color: rgb(95, 97, 89);


    font-family: monospace  ;

    
    font-size: 17px;


}


.button {


    font-family: monospace ;

    
    margin-left: 750px;


    padding: 20px;


    background-color: red;


    border: none ;


    border-radius: 5px;


    width: 20%;


    margin-top:  50px;


    color: white;


    font-size: 15px;


    letter-spacing: 2px;


}


.footer {


    font-family: Arial, Helvetica, sans-serif ;


    margin-left:  1200px;


    margin-top:  70px;


    letter-spacing: 2px;


    font-weight: bold;

    
    color: rgb(49, 48, 48);


}